<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppStarting"
        android:supportsRtl="true">

        <!-- Теперь RegisterActivity — первая -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Labs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Остальные экраны -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Labs" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Labs" />
    </application>

</manifest>
